main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  width: 100%;
  margin-bottom: var(--spacing-l);
  background-color: var(--header-color);
  padding: var(--spacing-l);
  display: flex;
  flex-direction: row-reverse;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  padding: var(--spacing-m);

  label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    * {
      width: 100%;
    }
  }
  button {
    width: 100%;
  }
}
