.weather-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  margin: var(--margin-s);
  padding: var(--padding-s) var(--padding-m);
  gap: var(--spacing-s);
  color: var(--primary-text-color);

  & .weather-card__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  & .weather-card__content > :nth-child(n) {
    display: flex;
    justify-content: space-between;
  }
}
